"RRULE:" is missing 

It seems that lib-recur is missing substring "RRULE:" before any recurrent rule as in rfc5545 doc

That's by intention. The `RRULE:` string is not part of the actual recurrence rule. It's the name (including the delimiter char `:`) of the icalendar property that holds the recurrence rules of an event (or task). A properly layered icalendar library will return `RRULE` as the key and the actual rrule string (without `RRULE:`) as the value of that property.
This library essentially supports the `RECUR` value type as specified in [RFC 5545, section 3.3.10](https://tools.ietf.org/html/rfc5545#section-3.3.10), hence the name.
I know that the Goole rfc 2445 library accepts (or maybe even requires) this part, but in my opinion this is a bug (or design error, if you will).